html {
  background: url(../images/water-park.jpg) no-repeat top left;
}

#ring {
  background: url(../images/water-ring.png) no-repeat top left;
  width: 1200px;
  height: 750px;
  position: relative;
  top: -10px;
  left: -8px;
  z-index: 1;
}

#dolphin {
  position: absolute;
  top: 400px;
  right: 0;
}

/* Write your solution here */

@media only screen and (min-width: 1080px) and (max-width: 1090px) {
  #dolphin {
    top: 300px;
  }
}

@media only screen and (min-width: 1070px) and (max-width: 1080px) {
  #dolphin {
    top: 250px;
    transform: rotate(-0.03turn);
  }
}

@media only screen and (min-width: 1060px) and (max-width: 1070px) {
  #dolphin {
    top: 200px;
    transform: rotate(-0.05turn);
  }
}

@media only screen and (min-width: 1050px) and (max-width: 1060px) {
  #dolphin {
    top: 150px;
    transform: rotate(-0.07turn);
  }
}

@media only screen and (min-width: 1040px) and (max-width: 1050px) {
  #dolphin {
    top: 125px;
    transform: rotate(-0.09turn);
  }
}

@media only screen and (min-width: 1030px) and (max-width: 1040px) {
  #dolphin {
    top: 100px;
    transform: rotate(-0.11turn);
  }
}

@media only screen and (min-width: 1020px) and (max-width: 1030px) {
  #dolphin {
    top: 75px;
    transform: rotate(-0.13turn);
  }
}

@media only screen and (min-width: 850px) and (max-width: 1020px) {
  #dolphin {
    top: 50px;
    transform: rotate(-0.15turn);
  }
}

@media only screen and (min-width: 800px) and (max-width: 850px) {
  #dolphin {
    top: 100px;
    transform: rotate(-0.11turn);
  }
}

@media only screen and (min-width: 750px) and (max-width: 800px) {
  #dolphin {
    top: 150px;
    transform: rotate(-0.07turn);
  }
}

@media only screen and (min-width: 700px) and (max-width: 750px) {
  #dolphin {
    top: 225px;
    transform: rotate(-0.03turn);
  }
}

@media only screen and (min-width: 642px) and (max-width: 700px) {
  #dolphin {
    top: 300px;
  }
}
